apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: application
  namespace: argocd

spec:
  project: default
  source:
    repoURL: http://$(GITLAB_URL)/$(GITLAB_PROJECT).git
    path: .

  destination:
    server: https://kubernetes.default.svc

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
